.TitlePage{
	text-align: center;
	font-size: 24pt;
}

.Headfoot{background-color: F2F1ED  ; color: #444444  ;}


.Navigation{left: 1000px; border-collapse: collapse;}
.Navigation li{padding : 2px; list-style : none; display : inline;}

.InfoTable {border: 2px solid black; border-collapse: collapse; padding: 3px; float:right; margin-right: 500px	;}
.InfoTable td{text-align: center; border:2px solid black;}



body{background-color:#F2F1ED; /*text-align: center;*/ color:#444444;}

h2{text-align: center;}

footer{ clear: both; position: absolute; z-index: 10; height: 3em; margin-top: -3em; margin-left: 800px}

#james {border-radius:50px;border:none;}
#images{padding: 5px;}

a:link {color: #DE5A51;}
a:visited {color: #DE5A51;}
hr{border-color: #DE5A51;}

.text{text-align: center; max-width:750px; }
.qualifications { line-height:50px; width:620px; float:left; padding:5px; list-style-type: none;}
.qualifications2 { line-height:50px; width:620px; float:right; padding:5px; list-style-type: none;}
.lists { line-height:50px; width:620px; padding:5px; list-style-type: none;}
.contactData{text-align: center; align-content: center}